<nav class="navbar navbar-expand-md navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Zimouber</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Categories <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Contact</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Busca...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>            
            <ul class="navbar-nav m-auto">
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Minha conta</a>
                    </li>
                    <li class="nav-item" style="margin-top: 8px; color: white;">
                        |
                    </li>
                    <li class="nav-item">
                        <%= link_to('Sair', destroy_user_session_path, class: 'nav-link', method: :delete) %>  
                    </li>
                <% end %>
                <% if !user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to "Login".html_safe, new_user_session_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item" style="margin-top: 8px; color: white;">
                        |
                    </li>
                    <li class="nav-item">
                        <%= link_to('Cadastrar', new_user_registration_path,  class: 'nav-link') %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>